In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from os.path import dirname
import seaborn as sns
import time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_predict
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from sklearn import linear_model

notebook_path = os.path.abspath("DataAnalyticsKickstarterNotebook_Cedrik.ipynb")
csv_path_features = os.path.join(os.path.dirname(dirname(notebook_path)), "data/ks-project-edited-regression-features.csv")
csv_path_trueLabels = os.path.join(os.path.dirname(dirname(notebook_path)), "data/ks-project-edited-regression-target.csv")

In [2]:
df_features = pd.read_csv (csv_path_features, low_memory=False)
df_target = pd.read_csv (csv_path_trueLabels, low_memory=False)

In [3]:
df_features.head()

,usd_goal_real,duration,name_length,creator_type,Art,Comics,Crafts,Dance,Design,Fashion,Film & Video,Food,Games,Journalism,Music,Photography,Publishing,Technology,Theater
0,3000.0,20,22,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,5000.0,15,33,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,500.0,14,36,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,50.0,8,16,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,2000.0,81,46,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [87]:
df_new_target = df_features["usd_goal_real"]
df_features.drop(columns="usd_goal_real", inplace=True)

In [27]:
df_target.head()

   usd_pledged_real
0           3222.00
1          11486.00
2          16167.71
3            207.66
4           8647.79

In [26]:
df_merged = df_features.copy()
df_merged.insert(3, 'usd_pledged_real', df_target)
df_merged.head()

,usd_goal_real,duration,name_length,usd_pledged_real,creator_type,Art,Comics,Crafts,Dance,Design,Fashion,Film & Video,Food,Games,Journalism,Music,Photography,Publishing,Technology,Theater
0,3000.0,20,22,3222.00,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,5000.0,15,33,11486.00,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,500.0,14,36,16167.71,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,50.0,8,16,207.66,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,2000.0,81,46,8647.79,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [4]:
print(df_target.describe().apply(lambda s: s.apply('{0:.5f}'.format)))

      usd_pledged_real
count     129580.00000
mean       10409.71634
std        77752.77396
min            0.00000
25%           52.00000
50%         1195.00000
75%         5649.25000
max      8596474.58000

In [14]:
print(df_features.iloc[:,:3].describe(percentiles=[.005,.99]).apply(lambda s: s.apply('{0:.5f}'.format)))

         usd_goal_real      duration   name_length
count     129580.00000  129580.00000  129580.00000
mean       50975.36696      32.93627      34.55207
std      1342563.25624      11.90823      15.62217
min            0.01000       1.00000       1.00000
0.5%          18.18740       6.89500       5.00000
50%         5000.00000      30.00000      34.00000
99%       332884.52570      60.00000      60.00000
max    151395869.92000      92.00000      96.00000

In [146]:
df_outlier = df_merged[(df_merged["usd_goal_real"]<=150000) & (df_merged["usd_goal_real"] >= 100)
                        &(df_merged["duration"] <= 60) & (df_merged["name_length"] <= 60)]
df_outlier.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124151 entries, 0 to 129579
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   usd_goal_real     124151 non-null  float64
 1   duration          124151 non-null  int64
 2   name_length       124151 non-null  int64
 3   usd_pledged_real  124151 non-null  float64
 4   creator_type      124151 non-null  int64
 5   Art               124151 non-null  int64
 6   Comics            124151 non-null  int64
 7   Crafts            124151 non-null  int64
 8   Dance             124151 non-null  int64
 9   Design            124151 non-null  int64
 10  Fashion           124151 non-null  int64
 11  Film & Video      124151 non-null  int64
 12  Food              124151 non-null  int64
 13  Games             124151 non-null  int64
 14  Journalism        124151 non-null  int64
 15  Music             124151 non-null  int64
 16  Photography       124151 non-null  int64
 17  Publishing        124151 non-null  int64
 18  Technology        124151 non-null  int64
 19  Theater           124151 non-null  int64
 20  target            124151 non-null  float64
dtypes: float64(3), int64(18)
memory usage: 20.8 MB

In [47]:
print(df_outlier.iloc[:,:3].describe(percentiles=[.005,.99]).apply(lambda s: s.apply('{0:.5f}'.format)))

      usd_goal_real      duration   name_length
count  124151.00000  124151.00000  124151.00000
mean    12290.02701      32.61933      34.56253
std     20541.74278      11.31404      15.53016
min       100.00000       1.00000       1.00000
0.5%      100.00000       7.00000       5.00000
50%      5000.00000      30.00000      34.00000
99%    100000.00000      60.00000      60.00000
max    150000.00000      60.00000      60.00000

In [147]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
list_scaler = ["duration","name_length"]
for feature in list_scaler:
    scaler.fit(df_outlier[[feature]])
    df_outlier[feature] = scaler.fit_transform(df_outlier[[feature]])

C:\Users\Cedrik\AppData\Local\Temp/ipykernel_13480/4293239327.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_outlier[feature] = scaler.fit_transform(df_outlier[[feature]])
C:\Users\Cedrik\AppData\Local\Temp/ipykernel_13480/4293239327.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_outlier[feature] = scaler.fit_transform(df_outlier[[feature]])

In [148]:
df_outlier_target = df_outlier["usd_goal_real"]

In [149]:
df_outlier.drop(columns=["usd_pledged_real","usd_goal_real"], inplace=True)

C:\anaconda3\envs\DataAnalyticsProjecktClone\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [53]:
model = sm.OLS(df_target,df_features).fit()

In [54]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       usd_pledged_real   R-squared:                       0.022
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                     164.0
Date:                Mon, 13 Dec 2021   Prob (F-statistic):               0.00
Time:                        11:37:05   Log-Likelihood:            -1.6416e+06
No. Observations:              129580   AIC:                         3.283e+06
Df Residuals:                  129561   BIC:                         3.284e+06
Df Model:                          18
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
usd_goal_real     0.0003      0.000      1.722      0.085   -3.78e-05       0.001
duration         98.5441     18.014      5.470      0.000      63.237     133.851
name_length     204.4584     13.949     14.658      0.000     177.119     231.797
creator_type    465.0066    372.788      1.247      0.212    -265.652    1195.665
Art           -6697.7771   1015.182     -6.598      0.000   -8687.517   -4708.037
Comics         1923.2579   1771.836      1.085      0.278   -1549.509    5396.024
Crafts        -8469.2097   1416.461     -5.979      0.000   -1.12e+04   -5692.970
Dance         -6025.9987   1515.074     -3.977      0.000   -8995.516   -3056.481
Design         -803.4267   1518.749     -0.529      0.597   -3780.147    2173.294
Fashion        -118.7920   1303.991     -0.091      0.927   -2674.592    2437.008
Film & Video    854.8317    912.843      0.936      0.349    -934.324    2643.988
Food          -4542.2157   1057.667     -4.295      0.000   -6615.224   -2469.208
Games           1.13e+04   1264.768      8.933      0.000    8819.168    1.38e+04
Journalism    -6353.1856   1409.023     -4.509      0.000   -9114.846   -3591.525
Music         -5909.3385    962.846     -6.137      0.000   -7796.500   -4022.177
Photography   -4525.7148   1231.067     -3.676      0.000   -6938.584   -2112.846
Publishing    -4294.8195   1039.696     -4.131      0.000   -6332.606   -2257.033
Technology     3.169e+04   1107.348     28.622      0.000    2.95e+04    3.39e+04
Theater       -5228.4301   1304.695     -4.007      0.000   -7785.609   -2671.251
==============================================================================
Omnibus:                   395344.926   Durbin-Watson:                   1.911
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      58610268813.834
Skew:                          45.917   Prob(JB):                         0.00
Kurtosis:                    3296.478   Cond. No.                     2.00e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  2e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [57]:
list_features = ["duration", "name_length"]
df_features_updated = df_features[list_features].copy()

In [58]:
model = sm.OLS(df_target,df_features_updated).fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:       usd_pledged_real   R-squared (uncentered):                   0.021
Model:                            OLS   Adj. R-squared (uncentered):              0.020
Method:                 Least Squares   F-statistic:                              1356.
Date:                Mon, 13 Dec 2021   Prob (F-statistic):                        0.00
Time:                        11:46:12   Log-Likelihood:                     -1.6429e+06
No. Observations:              129580   AIC:                                  3.286e+06
Df Residuals:                  129578   BIC:                                  3.286e+06
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
duration       87.2295     11.924      7.315      0.000      63.859     110.600
name_length   224.3269     11.013     20.369      0.000     202.741     245.912
==============================================================================
Omnibus:                   393493.608   Durbin-Watson:                   1.909
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      55586473970.284
Skew:                          45.330   Prob(JB):                         0.00
Kurtosis:                    3210.360   Cond. No.                         3.61
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [49]:
model = sm.OLS(df_outlier_target,df_outlier).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       usd_pledged_real   R-squared:                       0.072
Model:                            OLS   Adj. R-squared:                  0.072
Method:                 Least Squares   F-statistic:                     536.1
Date:                Tue, 14 Dec 2021   Prob (F-statistic):               0.00
Time:                        14:15:57   Log-Likelihood:            -1.5247e+06
No. Observations:              124151   AIC:                         3.049e+06
Df Residuals:                  124132   BIC:                         3.050e+06
Df Model:                          18
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
usd_goal_real     0.5176      0.008     67.881      0.000       0.503       0.533
duration        -11.4981     13.258     -0.867      0.386     -37.483      14.487
name_length     172.7119      9.733     17.745      0.000     153.636     191.788
creator_type   1747.3047    260.121      6.717      0.000    1237.472    2257.137
Art           -6201.2320    714.608     -8.678      0.000   -7601.851   -4800.613
Comics         1977.1322   1228.027      1.610      0.107    -429.780    4384.045
Crafts        -7883.9919    989.666     -7.966      0.000   -9823.721   -5944.262
Dance         -5314.7097   1046.737     -5.077      0.000   -7366.296   -3263.123
Design        -4127.5967   1073.403     -3.845      0.000   -6231.449   -2023.744
Fashion       -2235.8970    911.018     -2.454      0.014   -4021.477    -450.317
Film & Video  -4089.1097    647.543     -6.315      0.000   -5358.283   -2819.937
Food          -1.019e+04    757.796    -13.449      0.000   -1.17e+04   -8706.199
Games         -2117.0738    894.196     -2.368      0.018   -3869.683    -364.465
Journalism    -8924.6850    986.367     -9.048      0.000   -1.09e+04   -6991.422
Music         -5063.9338    677.591     -7.473      0.000   -6392.001   -3735.867
Photography   -5240.3913    861.623     -6.082      0.000   -6929.158   -3551.624
Publishing    -3854.0832    731.127     -5.271      0.000   -5287.081   -2421.086
Technology     1.963e+04    796.788     24.634      0.000    1.81e+04    2.12e+04
Theater       -5946.7877    908.949     -6.542      0.000   -7728.313   -4165.262
==============================================================================
Omnibus:                   334346.570   Durbin-Watson:                   1.854
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      17503932873.963
Skew:                          32.867   Prob(JB):                         0.00
Kurtosis:                    1841.319   Cond. No.                     3.67e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.67e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [52]:
df_outlier.drop(columns=["duration"], inplace = True)

C:\anaconda3\envs\DataAnalyticsProjecktClone\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [65]:
df_outlier.drop(columns=["usd_pledged_real"],inplace=True)

In [66]:
df_outlier = sm.add_constant(df_outlier)
model = sm.OLS(df_outlier_target,df_outlier).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          usd_goal_real   R-squared:                       0.107
Model:                            OLS   Adj. R-squared:                  0.107
Method:                 Least Squares   F-statistic:                     876.1
Date:                Tue, 14 Dec 2021   Prob (F-statistic):               0.00
Time:                        14:38:08   Log-Likelihood:            -1.4020e+06
No. Observations:              124151   AIC:                         2.804e+06
Df Residuals:                  124133   BIC:                         2.804e+06
Df Model:                          17
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const         2962.6608    203.575     14.553      0.000    2563.657    3361.665
duration       240.5327      4.888     49.213      0.000     230.953     250.112
name_length     39.3571      3.621     10.869      0.000      32.260      46.455
creator_type -1349.7338     96.752    -13.950      0.000   -1539.366   -1160.102
Art          -4019.8357    174.601    -23.023      0.000   -4362.050   -3677.621
Comics       -3294.1219    387.354     -8.504      0.000   -4053.328   -2534.915
Crafts       -4623.2762    296.693    -15.583      0.000   -5204.789   -4041.763
Dance        -5101.2974    314.770    -16.206      0.000   -5718.241   -4484.354
Design        2031.0218    326.474      6.221      0.000    1391.138    2670.905
Fashion       1059.2693    257.603      4.112      0.000     554.372    1564.167
Film & Video  3143.4402    150.244     20.922      0.000    2848.964    3437.916
Food          7553.2781    187.821     40.215      0.000    7185.152    7921.405
Games         4407.1217    257.679     17.103      0.000    3902.075    4912.169
Journalism    1152.9087    288.909      3.991      0.000     586.652    1719.165
Music        -4912.3463    145.204    -33.831      0.000   -5196.944   -4627.749
Photography  -2179.9412    238.230     -9.151      0.000   -2646.868   -1713.015
Publishing   -4146.6028    175.494    -23.628      0.000   -4490.568   -3802.638
Technology    1.442e+04    188.016     76.692      0.000    1.41e+04    1.48e+04
Theater      -2526.2264    258.323     -9.779      0.000   -3032.534   -2019.919
==============================================================================
Omnibus:                    85529.750   Durbin-Watson:                   1.895
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1218835.809
Skew:                           3.229   Prob(JB):                         0.00
Kurtosis:                      16.925   Cond. No.                     1.12e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.43e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [157]:
df_outlier.drop(columns="target", inplace=True)

C:\anaconda3\envs\DataAnalyticsProjecktClone\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [163]:
df_outlier_target

0          3000.00
1          5000.00
2           500.00
5         30000.00
6          4000.00
            ...
129574    10000.00
129575     8437.96
129577     5000.00
129578     2587.10
129579     1200.00
Name: usd_goal_real, Length: 124151, dtype: float64

In [159]:
X_train, X_test, y_train, y_test = train_test_split(df_outlier, df_outlier_target, random_state=42)

In [160]:
clf_Linear = linear_model.LinearRegression()
clf_Linear.fit(X_train, y_train)
predicted = clf_Linear.predict(X_test)
expected = y_test

In [164]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
print(mean_squared_error(expected, predicted))
print(mean_absolute_error(expected, predicted))

372271890.9718815
11361.25918648109

In [165]:
from sklearn.metrics import explained_variance_score
explained_variance_score(expected,predicted)

0.10801074522885046